
.about {
  height: 840px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.aboutMainDiv {
  height: 950px;
  padding: 0.5px;
  background-color: #00000000;
}

.about-title {
  position: absolute;
  text-align: center;
  width: 93%;
  margin-top: -500px;
  font-size: 50px;
  color: #222;
}

.about-para {
  position: absolute;
  text-align: center;
  margin-top: -250px;
  left: 5%;
  right: 5%;
  color: #666;
  font-size: 20px;
}
