.about {
  width: 100%;
  height: 840px;
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  margin: 60px 0;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.aboutMainDiv {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; 
}

.about-title {
  position: absolute;
  top: 100px;
  text-align: center;
  font-size: 50px;
  color: #222;
}

.about-para {
  position: absolute;
  top: 200px;
  text-align: center;
  color: #666;
  font-size: 20px;
  max-width: 80%;
}

.my-details {
  position: absolute;
  top: 400px;
  width: 80%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0);
}

.div-1 {
  position: absolute;
  top: -53px;
  left: 320px;
  text-align: right;
  background-color: #007bff00;
  width: 30%;
  color: #535353;
}

.div-2 {
  position: absolute;
  top: -53px;
  right: 175px;
  background-color: #007bff00;
  width: 40%;
  color: #535353;
}

.div-1>div {
  margin: 60px;
}

.div-2>div {
  margin: 60px;
}

strong {
  color: #000000;
  font-size: 16px;
}

.main-line {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
  width: 2px;
  background: #000000;
  height: 110%;
}

.badge {
  background-color: #444;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.badge-text {
  display: flex;
  align-items: center;
}

.badge-divider {
  margin: 0 5px;
  font-size: 14px;
  opacity: 0.7;
}


/* ####################################### 481px to 768px ###################################### */
@media (min-width: 481px) and (max-width: 768px) {
  .about {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: center;
    justify-content: center;
    /* padding: 60px 20px; */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    /* margin: 60px 0; */
    /* padding: 40px; */
    margin-top: 80px;
    margin-bottom: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  }
  
  .aboutMainDiv {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 30px;  */
  }

  .about-title {
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: #222;
    top: 60px; 
  }
  
  .about-para {
    position: absolute;;
    text-align: center;
    color: #666;
    font-size: 14px;
    max-width: 90%;
    top: 140px; 
  }
  

}

/* ################################## 321px to 480px ###################################### */
@media (min-width: 321px) and (max-width: 480px) { 
  .about {
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  }
  
  .aboutMainDiv {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-title {
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: #222;
    top: 20px; 
  }
  
  .about-para {
    position: absolute;;
    text-align: center;
    color: #666;
    font-size: 12px;
    max-width: 80%;
    top: 80px; 
  }

  .my-details {
    position: absolute;
    top: 400px;
    width: 80%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .div-1 {
    position: absolute;
    top: -25%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: #007bff00;
    width: 100%;
    color: #535353;
  }
  
  .div-2 {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: #007bff00;
    width: 100%;
    color: #535353;
  }
  
  .div-1>div {
    margin: 20px;
  }
  
  .div-2>div {
    margin: 20px;
  }

  .main-line {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    background: #000000;
    height: 110%;
    display: none;
  }
}

