.navBarContainer {
  max-width: 98%;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  width: 96%;
  position: fixed;
  top: 0;
  left: 2%;
  right: 2%;
  height: 50px;
  z-index: 100;
}


.logo {
  font-weight: bold;
  font-size: 18px;
}


nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #007BFF;
}


.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}


@media (max-width: 768px) {
  
  .menu-toggle {
      display: block;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 16px;
      width: 93%;
      background: rgba(255, 255, 255, 0);
      border-radius: 10px;
      text-align: center;
      padding: 20px 0;
  }

  .nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links li {
      margin: 15px 0;
  }
}


.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.514);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}


.blur-background.active {
  opacity: 1;
  pointer-events: all;
}

/* ############################################# 480px to 768px ################################ */
@media (min-width: 481px) and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 72%;
    position: fixed;
    top: 0;
    left: 2%;
    right: 2%;
    height: 50px;
    z-index: 100;
  }

  .menu-toggle {
    display: block;
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 16px;
    width: 93%;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    margin: 15px 0;
} 
}


/* ############################################# 321px to 480px ############################### */

@media (min-width: 321px) and (max-width: 480px) {
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 48%;
    position: fixed;
    top: 0;
    left: 2%;
    right: 2%;
    height: 50px;
    z-index: 100;
  }

  .menu-toggle {
    display: block;
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 16px;
    width: 93%;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    margin: 15px 0;
}  
}
  
  