.hero {
  height: 800px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 40px;
  margin-bottom: 60px;
  margin-top: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.hero-content {
  width: 80%;
}

.hero h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222;
}

.hero h2 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #666;
}

.hero p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  width: 68%;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #000;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
}

.hero-image {
  width: 45%;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: auto;
}

@media (min-width: 1201px) {
  .hero {
    height: 750px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 60px;
    margin-top: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  }

  .hero h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
  }
  
  .hero h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #666;
  }
  
  .hero p {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
    width: 68%;
  }

}