.projectMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #66666600;
}

.projects {
  height: 840px;
  width: 100vw; 
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  margin: 60px 0;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.pricing-grid {
  position: absolute;
  left: 5%;
  right: 5%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 72px; 
  margin-top: 40px;
  padding: 30px;
}

.card {
  /* background: #ffffff; */
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  /* padding: 25px; */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; 
}

@media (min-width: 321px) and (max-width: 480px) { 

}

