
.skillMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #66666600;
}

.skills {
  height: 840px;
  width: 100vw; 
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  margin: 60px 0;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.skills>h1 {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 80px;
  font-size: 50px;
  color: #222;
}

.skills>p {
  position: absolute;
  width: 78%;
  left: 0;
  right: 0;
  margin: auto;
  top: 200px;
  text-align: center;
  color: #666;
  font-size: 20px;
}

.skill-container {
  position: absolute;
  top: 360px;
  left: 0;
  right: 0;
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.274);
  border: 1px solid #9b9b9b5d;
  border-radius: 10px;
  transform: rotate(-45deg);
  transition: box-shadow 0.3s ease-in-out;
}

.icon img {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
}

.icon-box p {
  margin-top: 30px;
  font-size: 16px;
  color: #000000;
}

/* ############################## 481px tp 768px ################################ */
@media (min-width: 481px) and (max-width: 768px) {
  .skills {
    height: 1000px;
    width: 100vw; 
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin: 60px 0;
    padding: 40px;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .skills>h1 {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 40px;
    font-size: 25px;
    color: #222;
  }
  
  .skills>p {
    position: absolute;
    width: 85%;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    text-align: center;
    color: #666;
    font-size: 12px;
  }
  
  .skill-container {
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 8px;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.274);
    border: 1px solid #9b9b9b5d;
    border-radius: 10px;
    transform: rotate(-45deg);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .icon img {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
  }
  
  .icon-box p {
    margin-top: 20px;
    font-size: 12px;
    color: #000000;
  }
}

/* ##################################### 321px to 480px ###############################  */
@media (min-width: 321px) and (max-width: 480px) {
  .skills {
    height: 1240px;
    width: 100vw; 
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin: 60px 0;
    padding: 40px;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .skills>h1 {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 40px;
    font-size: 25px;
    color: #222;
  }
  
  .skills>p {
    position: absolute;
    width: 85%;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    text-align: center;
    color: #666;
    font-size: 12px;
  }
  
  .skill-container {
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 8px;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.274);
    border: 1px solid #9b9b9b5d;
    border-radius: 10px;
    transform: rotate(-45deg);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .icon img {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
  }
  
  .icon-box p {
    margin-top: 20px;
    font-size: 12px;
    color: #000000;
  }
}